/* VARIABLES */
:root {
  /* colors */
  --logo: hsl(210, 20%, 25%);
  --light: hsl(210, 50%, 100%);
  --l-gray: hsl(210, 30%, 90%);
  --gray: hsl(210, 10%, 70%);
  --d-gray: hsl(210, 10%, 50%);
  --l-dark: hsl(210, 20%, 25%);
  --dark: hsl(210, 20%, 15%);
  --o-dark: hsla(0, 0%, 0%, .8);
  --blue: hsl(210, 50%, 70%);
  --orange: hsl(30, 50%, 70%);
  --green: hsl(90, 50%, 70%);
  --pink: hsl(0, 50%, 75%);
  --yellow: hsl(60, 50%, 70%);

  /* spacing */
  --half: 4px;
  --x1: 8px;
  --x2: 16px;
  --x4: 32px;
}

/* RESETS */
html, body {
  margin: 0;
  font-size: 10px;
}

h1 {
  margin: 0;
}

input {
  margin: 0;
}


/* TYPOGRAPHY */

.t-heading {
  font-family: sans-serif;
  font-size: 2.0rem;
  font-weight: bold;
}

.t-basic {
  font-family: sans-serif;
	font-size: 1.6rem;
  font-weight: bold;
}

.t-code {
  font-family: monospace;
  font-size: 1.4rem;
  font-weight: lighter;
  line-height: 1.8rem;
}

/* PLAYGROUND */

.main {
  width: 1000px;
  max-width: 100%;
  box-sizing: border-box;
  padding: var(--x1);
}

/* DISPLAY SECTION */

.display__container {
  width: 100%;
  min-height: 100px;
  overflow: hidden;
  background-color: var(--light);
}

/* CONTROL SECTION */
:root {
  --controls-height: 34px;
}

.controls {
  padding: var(--x1);
  background-color: var(--dark);
  color: var(--light);
  font-family: monospace;
}

.t-controls {
  font-family: monospace;
  font-size: 1.6rem;
}

.controls__selector, .controls__property {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.controls__selector {
  padding-bottom: var(--half);
}

.controls__property {
  padding: var(--half) var(--half) var(--half) var(--x2);
}

.control-item {
  height: var(--controls-height);
  margin-right: var(--x1);
  padding-right: var(--x1);
  display: flex;
  align-items: center;
}

.separator {
  height: var(--controls-height);
  color: var(--d-gray);
  font-size: 3rem;
  font-weight: 400;
  display: flex;
  align-items: center;
}
.separator:first-of-type {
  margin-right: var(--x1);
}

.input-property, .input-value {
  display: none;
}
.label-property:hover, .label-value:hover {
  cursor: pointer;
  opacity: .5;
}

.label-property {
  height: var(--controls-height);
  padding-right: var(--x1);
  padding-left: calc(var(--x1) + 20px + var(--x1));
  border: 1px solid var(--l-dark);
  color: var(--d-gray);
  font-weight: normal;
  letter-spacing: .2rem;
  white-space: nowrap;
  display: flex;
  align-items: center;
  position: relative;
}
.input-property:checked + .label-property {
  color: var(--light);
  background-color: var(--l-dark);
}
.label-property::before {
  content: '';
  width: 20px;
  height: 20px;
  margin-right: var(--x1);
  background-color: var(--l-dark);
  position: absolute;
  left: var(--x1);
  opacity: .4;
}
.input-property:checked + .label-property::before {
  background-color: var(--l-gray);
  opacity: 1;
}

.label-value {
  height: var(--controls-height);
  margin: var(--half) 0;
  padding: var(--half) var(--x2);
  box-sizing: border-box;
  border-radius: 10rem;
  border: 1px solid var(--l-dark);
  color: var(--d-gray);
  white-space: nowrap;
  display: flex;
  align-items: center;
}
.label-value:not(:last-of-type) {
  margin-right: var(--x1);
}
.input-value:checked + .label-value {
  color: var(--l-dark);
  background-color: var(--l-gray);
  border: 1px solid var(--l-gray);
}
